<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zhuky.clear.dao.BaseTableQueryMapper">
    <resultMap id="shareholderMap" type="zhuky.clear.entity.Tshareholder">
        <result column="shareholder_id" jdbcType="VARCHAR" property="shareholderId"/>
        <result column="mkt_id" jdbcType="INTEGER" property="mktId"/>
        <result column="shareholderName" jdbcType="VARCHAR" property="shareholderName"/>
        <result column="bind_seat" jdbcType="VARCHAR" property="bindSeat"/>
        <result column="use_product_list" jdbcType="VARCHAR" property="useProductList"/>
    </resultMap>
    <select id="getProductUseShareholder" resultMap="shareholderMap">
        SELECT * FROM TSHAREHOLDER a WHERE instr(a.use_product_list, #{productIdStr})
    </select>
</mapper>